.app {
    max-width: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 10vh;
}

.title {
   margin: 0vh 0vh 0vh 2vh;
}

.navbar {
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.material-icons {
    color: black;
    font-size: 10vh;
}

.material-icons:hover {
    color: blue;
}